<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="43f38a4f-1457-4e58-a0c2-462465990ce6" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.openweathermap.org" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="43f38a4f-1457-4e58-a0c2-462465990ce6fileName">http%3A%2F%2Fapi.openweathermap.org</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://api.openweathermap.org</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="Default">
      <con:authProfile>oauth jwt profile</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
